@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
html {
  background-color: #eeeae8;
}
main {
  align-content: center;
  justify-content: center;
  font-family: "Nunito Sans", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
header nav a {
  margin-right: 10px;
}
header a {
  text-decoration: none;
  font-size: 1.5vw;
  font-family: "Nunito Sans", sans-serif;
  color: black;
}

/*PRODUCT PAGE*/

dd {
  margin-left: 0;
  margin-bottom: 10px;
}
.product main {
  margin: 20px;
}
.breadcrumbs a {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1em;
  color: black;
  text-decoration: none;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}
h1 {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.5em;
}
h3 {
  font-size: 2vw;
}
p {
  font-size: 1em;
  font-family: "Nunito Sans", sans-serif;
}

button {
  display: block;
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  color: #171b36;
  background-color: #eeeae8;
  font-size: 1.1em;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.1);
  font-family: "Nunito Sans", sans-serif;
  text-decoration: none;
  margin-top: 1rem;
  cursor: pointer;
  border: 0;
}
button:hover {
  transform: scale(1.1);
}

select {
  background-color: #eeeae8;
}

@media screen and (min-width: 700px) {
  main {
    align-content: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: 0.01fr 0.8fr;
    gap: 20px 100px;
    font-family: "Nunito Sans", sans-serif;
  }
  .breadcrumbs {
    grid-area: 1 / 1 / 2 / 3;
  }
  .img {
    grid-area: 2 / 1 / 3 / 2;
  }
  .about {
    grid-area: 2 / 2 / 3 / 3;
  }
}

/*PRODUCT LIST*/
.productList article .discounted {
  display: none;
}
.productList article .przecena {
  display: none;
}
.productList article .sprzedane {
  display: none;
}
.productList main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
  gap: 2rem;
}
.productList main h2 {
  grid-column: 1/-1;
}
.onSale .price {
  text-decoration: line-through;
}

.productList article.onSale span {
  display: none;
}

.productList article.onSale .discounted {
  margin-top: -2vw;
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.soldOut img {
  opacity: 60%;
}
.sprzedane p {
  position: absolute;
  margin-top: -395px;
  margin-left: 220px;
  font-size: 1.2em;
  transform: rotate(20deg);
  background-color: #171b36;
  padding-left: 10px;
  padding-right: 10px;
  color: #77778f;
}
.przecena {
  padding: 8px;
  position: absolute;
  background-color: #a44849;
  font-size: 1.2em;
  color: #eeeae8;
}
.przecena p {
  padding: 0;
  margin: 0;
}
.productList article.onSale .przecena {
  display: inline;
}
.productList article.soldOut .sprzedane {
  display: inline;
}
article a:link {
  text-align: center;
  text-decoration: none;
  color: #171b36;
  background-color: #eeeae8;
  padding-right: 35px;
  padding-left: 35px;
  font-size: 1.2em;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.1);
}
article a:visited {
  text-align: center;
  text-decoration: none;
  color: #171b36;
  background-color: #eeeae8;
  padding-right: 35px;
  padding-left: 35px;
  font-size: 1.2em;
}
article a:hover {
  background-color: white;
}
article a:active {
  text-align: center;
  text-decoration: none;
  color: #171b36;
  background-color: #eeeae8;
  padding-right: 35px;
  padding-left: 35px;
  font-size: 1.2em;
}
/*CATEGORIES*/
.categoryList main {
  display: flex;
}
.categoryList ol {
  column-count: 2;
  list-style: none;
  font-size: 2em;
}

.categoryList ol li {
  margin: 10px;
}
.categoryList ol li a {
  text-decoration: none;
  color: black;
}
.przycisk {
  width: 300px;
  padding: 0.2em;
  background-color: #eeeae8;
  text-align: center;
  margin-bottom: 10px;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.1);
}

.przycisk:hover {
  transform: scale(1.1);
}
